body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3vw;
}

body {
    background-color: bisque;
}

h1 {
    font-size: 5vw;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin: 20px;
}

table, th, td {
    border: 1px black solid;
    overflow: scroll;
}

table {
    max-width: 40%;
    margin: auto;
}

td {
    font-size: smaller;
}

.header1 {
    background-color: salmon;
    margin: 20px;
    box-shadow: 0px 5px 5px gray;
}

.maxWidth {
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fontCenter {
    text-align: center;
}

.border {
    border: 2px solid salmon;
}

.fontSizeSmall {
    font-size: 2vw;
}
