
/* ====================== */
/*       nav style        */
/* ====================== */

body {
    font-family: 'Fjalla One', Helvetica, sans-serif;
    background-color: white;
}

header {
    width: 100%;
    height: 30px;
    padding: 10px;
    background-color: #286D8A;
    top: 0;
    position: fixed;
    z-index: 1;
}

nav {
    width: 960px;
    height: 20px;
    margin: 0 auto;
}

ul {
    margin: 0 auto;
    text-align: center;  
}

li {
    display: inline;
    margin: 20px 20px;
}

main {
    margin: 0 auto;
}

button {
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: #286D8A;
    font-size: 14px;
    transition: 350ms;
    cursor: pointer;
}

button:hover {
    background: salmon;
    color: white;
}

/* ====================== */
/*       main style       */
/* ====================== */


.home-container {
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-top: 85px;
}

.logo-container {
    padding: 10px;
    width: 500px;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo-container img {
    width: 300px;
    padding: 20px;
}

.logo-container h1 {
    font-size: 36px;
    color: #286D8A;
}

.logo-container h2 {
    font-size: 18px;
    color: black;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

p {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    padding: 10px;
}

#about {
    background-color: #837D4e; 
}

.main-container {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
}

.main-container h2 {
    text-align: center;
    font-size: 34px;
    padding: 30px;
    color: white;
}

.main-img-container {
    padding: 30px 210px;
}

#product img {
    margin: 0 auto;
    padding: 30px;
}

#product {
    background-color:#438496;;
    color: white;
    margin: 40px auto;
}

#product p {
    width: 600px;
    padding: 40px;
}

#product h2 {
    color: black;
    padding: 30px;
}

#locations {
    background-color: salmon; 
}


#locations ul {
    padding: 30px;
}

#merch h2 {
    color: #837D4e;
}

#merch li {
    display: inline-block;
    padding: 30px;
}

/* ====================== */
/*      footer style      */
/* ====================== */

footer {
    width: 100%;
    height: 125px;
    background-color: #286D8A;
    text-align: center;
    padding: 30px;
}

footer h2 {
    color: white;
    font-size: 24px;
    margin: 5px;
    
}

footer li {
    color: white;
}

footer p {
    padding: 10px;
}

footer h6 {
    padding: 20px;
    font-size: 14px;
    color: #999;
}

a {
    text-decoration: none;
    color: white;
}
