body {
    font-family: Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    
    /* border: 1px solid red; */
}

nav {
    background-color: whitesmoke;
}

li {
    display: inline-block;
}